<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add firebase/firebase features from provided index.html file that we need-->

  <!--Import Bootstrap-->

  <!--Import style sheets-->
  
  <!--Title-->
  <title>Reality Check</title>

</head>

<body>

<!--Header-->
  <header>
    <div>

    </div>
  </header>

<!--Main Content-->
  
  <!--Start Button-->
  <button id_"startButton" class="start-button">Start Reality Check</button>

  <!--Decision buttons-->
  <div id="decisionButtons" style="display: none;">
    <button id="accurateButton" class="quiz-button">Is this true?</button>
    <button id="inaccurateButton" class="quiz-button">Or this?</button>
  </div>
  
  <!--Restart Button-->
  <button id="restartButton" style="display: none;" class="restart-button">Try Again?</button>

<!--Footer-->

</body>
</html>