<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Add firebase/firebase features from provided index.html file that we need-->
  <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js" type="module"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-firestore.js" type="module"></script>
  <!--ADD JS bundle -->
  <script type="module" src="../bundle.js"></script>
  <!--JavaScript file-->
  <script type="module" src="../static/scripts/reName.js"></script>
  <!--Import Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--Import style sheets-->a
  <link rel="stylesheet" href="../static/styles/main.css">
  <!--Title-->
  <title>Reality Check</title>

</head>

<body>

<!--Header-->
  <header>
    <div>

    </div>
  </header>

<!--Main Content-->
  
<!--Container for stories -->
<div id="decisionButtons" class="container">
  <div class="row">
      <!--True Story Container-->
      <div id="trueStoryContainer" class="col-md-6"></div>

      <!--False Story Container-->
      <div id="falseStoryContainer" class="col-md-6"></div>
  </div>
</div>

<!--Start Button-->
<button id="startButton" class="start-button">Start Quiz</button>

<!-- Try again button -->
<button id="tryAgainButton" style="display: none;">Try again?</button>


<!--Footer-->

</body>
</html>