body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; /* Stack elements vertically */
  background-color: #01ccff;
  background-image: linear-gradient(to bottom, #01ccff, #bdbebe);
}

/* Header */
header {
  text-align: center;
  margin-bottom: 45px;
}

header h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif
}

/* Buttons */
#startButton,
#tryAgainButton {
  background-color: #01ccff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

#startButton:hover,
#tryAgainButton:hover {
  background-color: #043074;
}

/* News story cards */
.card {
  border: 1px solid #043074;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  color: white;
  box-shadow: 0 4px 8px #043074;
  background-color: #043074;
}

/* Message Container */
#messageContainer {
  display: none;
  background-color: #01ccff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px; /* Add some margin to separate from try again button */
}

#sourceText {
  margin-top: 10px;
  font-size: 16px;
  text-align: right;
}
