body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

/* Buttons */
#startButton {
  background-color: #01ccff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
}

#startButton:hover {
  background-color: #043074;
}

/* Story cards */
.card {
  border: 1px solid #043074;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  color: white;
  box-shadow: 0 4px 8px #043074;
  background-color: #043074;
}